{# This is the registration and sign up page #}
{% extends 'base.html' %}

{% load static %}

{%  block title %}
    <title>Log In (Shelfio)</title>
{% endblock %}


{% block extra_head %}
     <link rel="stylesheet" type="text/css" href="{% static "accounts/css/accounts.css" %}">
{% endblock %}


{% block content %}

    {{ form.errors }}

    <section id="login_form">
        <h3>Log in</h3>
        <!-- enctype encrypts image file to be stored in database -->
            <form action="" method="POST" enctype="multipart/form-data">
                <!-- csrf is cross site request forgery tag.  Make sure form submission comes from
                 a form on the actual website.  Makes sure a cookie is set on your browser -->
                {% csrf_token %}
                <!-- inserts form as paragraphs -->
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Sign In</button>
            </form>
    </section>

    <aside class="sign_up">
        <h4>No account? <a id="sign_up_now" href="{% url 'accounts:register' %}">Sign up now!</a></h4>
    </aside>
{% endblock %}