{# This is the user profile page - used for updating  #}
{% extends 'base.html' %}

{% load static %}

{%  block title %}
    <title>User Profile</title>
{% endblock %}


{% block extra_head %}
     <link rel="stylesheet" type="text/css" href="{% static "collection/css/collection.css" %}">
     <link rel="stylesheet" type="text/css" href="{% static "accounts/css/accounts.css" %}">
{% endblock %}


{% block content %}
    <!-- FORM ERROR MSG-->
    <div>{{ form.errors }}</div>
    <!-- PASSWORD ERROR MSG-->
    <div>{{ passwordform.errors }}</div>

    <section class="profile_form coll_form">
        <h3 class="coll_form_heading">Update Profile</h3>

            <!-- PROFILE FORM -->
            <!-- enctype encrypts image file to be stored in database -->
            <form action="" method="POST" enctype="multipart/form-data">
                <!-- csrf is cross site request forgery tag.  Make sure form submission comes from
                 a form on the actual website.  Makes sure a cookie is set on your browser -->
                {% csrf_token %}
                <!-- inserts form as paragraphs -->
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>

            <!-- CHANGE PASSWORD FORM -->
        <h3 class="coll_form_heading">Update Password</h3>
            <form action="{% url 'accounts:change_password' %}" method="POST">
                <!-- csrf is cross site request forgery tag.  Make sure form submission comes from
                 a form on the actual website.  Makes sure a cookie is set on your browser -->
                {% csrf_token %}
                <!-- inserts form as paragraphs -->
                {{ password_form.as_p }}
                <button type="submit" class="save btn btn-default">Update</button>
            </form>
    </section>


{% endblock %}