{# This is the registration and sign up page #}
{% extends 'base.html' %}

{% load static %}

{%  block title %}
    <title>Registration Form (Shelfio)</title>
{% endblock %}


{% block extra_head %}
     <link rel="stylesheet" type="text/css" href="{% static "accounts/css/accounts.css" %}">
{% endblock %}


{% block content %}

    {{ form.errors }}

    <section class="reg_form">
        <h3 class="acc_form_heading">Register</h3>
        <!-- enctype encrypts image file to be stored in database -->
            <form action="" method="POST" enctype="multipart/form-data">
                <!-- csrf is cross site request forgery tag.  Make sure form submission comes from
                 a form on the actual website.  Makes sure a cookie is set on your browser -->
                {% csrf_token %}
                <!-- inserts form as paragraphs -->
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Register</button>
            </form>
    </section>
{% endblock %}