{% extends 'base.html' %}

{% load static %}

    {%  block title %}
        <title>Collectible View</title>
    {% endblock %}

    {% block extra_head %}
         <link rel="stylesheet" type="text/css" href="{% static "collection/css/collection.css" %}">
    {% endblock %}


{% block content %}
    {# Collectible Detail View #}

    <section id="coll_container">

        <div id="collect_detail">

            {# Collection name #}
            <h5 class="coll_header_2">{{ collectible.collection }}</h5>

            {# Collectible Image and Name #}
            <figure class="coll_img">
                <img src="{{ collectible.image.url }}">
    {#            <figcaption>{{ collectible.name }}</figcaption>#}
            </figure>

            {# Collectible Heading #}
            <h3 class="coll_header">{{ collectible.name }}</h3>

            {# Collectible description #}
            <section class="description">
            <p>{{ collectible.description }}</p>
            </section>

            <hl id="specs_head"><strong>Details</strong></hl>
            <ul class="coll_specs">
                <li><span>Manufactored by</span>: {{ collectible.creator }}</li>
                <li><span>Artist</span>: {{ collectible.artist }}</li>
                <li><span>Publisher</span>: {{ collectible.publisher }}</li>
                <li><span>Published (Year)</span>: {{ collectible.pubyear }}</li>
                <li><span>Copyright</span>: {{ collectible.copyright }}</li>
                <li><span>Serial Number</span>: {{ collectible.identifier }}</li>
                <li><span>Entry created on</span>: {{ collectible.created }}</li>
                <li><span>Entry updated on</span>: {{ collectible.modified }}</li>
            </ul>

            <div class="additional_links_area">
                <h4 id="add_links">Additional Links:</h4>
                    <div class="coll_links_area">
                        {% for link in collectible.links.all %}
                            <a class="btn_small" href="{{ link.url }}">{{ link.name }}</a>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </section>

    {% if request.user.is_authenticated %}
    <section>
     <!-- EDIT BUTTON AREA -->
        <!--Arrows to open and close Button Panel-->
        <div id="arrow_area">
                <span id="down_arrow">&#x261E;</span>
                <span id="up_arrow">&#x2620;</span>
        </div>

        <aside id="edit_btns_area">
            <!-- Buttons Panel - Starts Hidden-->
            <div id="collectible_option_btns">
                <a id="edit_btn" class="save btn btn-default" href="/{{ request.user }}/collectible/edit/{{ collectible.slug }}">Edit</a>
                <a id="addnew_btn" class="save btn btn-default" href="/{{ request.user }}/collectible/create/">Add Another</a>
                <a id="view_coll_btn" class="save btn btn-default" href="/{{ request.user }}/collection/{{ collectible.collection.slug }}">View Collection</a>
            </div>
        </aside>

    </section>
    {% endif %}

{% endblock %}