{% extends 'base.html' %}

{% block content %}
    <div id="collect_detail">
        {# Collectible Detail View #}

    {# Collectible Heading #}
    <h3 class="coll_header">{{ collectible.name }}</h3>
    <h5 class="coll_header_2">{{ collectible.classification }}</h5>

    {# Collectible Image and Name #}
    <figure class="coll_img">
        <img src="{{ collectible.image }}">
        <figcaption>{{ collectible.name }}</figcaption>
    </figure>

    {# Collectible description #}
    <section class="description">
    <p>{{ collectible.description }}</p>
    </section>

    <ul class="coll_details">
        <li>{{ collectible.creator }}</li>
        <li>{{ collectible.artist }}</li>
        <li>{{ collectible.publisher }}</li>
        <li>{{ collectible.pubyear }}</li>
        <li>{{ collectible.copyright }}</li>
        <li>{{ collectible.identifier }}</li>
        <li>{{ collectible.created }}</li>
        <li>{{ collectible.modified }}</li>
    </ul>



    </div>
{% endblock %}