
{%  block content_footer %}

    <!-- Footer -->
        <footer>
            {% block footer %}
                <div class="row">
                    <div class="col-lg-12 copyright-message">
                        <p>Copyright &copy; SHELFIO 2017</p>
                    </div>
                </div>
                <div>
                    <input type="button" value="About" class='footer_btn' onclick='window.location.href="{% url 'about' %}"' />
                    <input type="button" value="Contact" class='footer_btn' onclick='window.location.href="{% url 'contact' %}"' />
                </div>
            {% endblock %}
        </footer>

{% endblock %}