{% extends 'base.html' %}

    {%  block title %}
    <title>Home Page</title>
    {% endblock %}


{% block content %}
    <!-- Header -->
    <div id="heading_container">
{#        <p class="home_words_fx">stamps</p>#}
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1 id="home_header">SHELFIO</h1>
                <h3>Get organized, yo!</h3>
                <br>
                <div class="btn-12Wrapper wrapper">
                <a class="btn btn-1Wrapper" href="{% url 'accounts:login' %}">Get Going</a>
                </div>
            </div>
        </header>
    </div>
{% endblock %}

     <!-- Footer -->
    {%  block content_footer %}  {# Don't want footer on Home page #}
    {% endblock %}
