/*
 Created on June 16th by Steve Hanlon.  CSS file for collection app.
*/

/*--------------------
   Collectible Form
----------------------*/

/* Alter Bootstrap Styling for Django messages  */
.messages {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3em;
}

.alert-success {
    color: #fff;
    background-color: #E84B00;
    border-color: #E84B00;
}

/*--------------------
   Collectible View
----------------------*/

/* outer most container */
#coll_container {
    display: flex;
    justify-content: center;
}


/* wallpaper for Collectible View */
#collect_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/static/collection/images/bg/paper.jpeg") no-repeat center center;
    background-size: 100% 100%;
    width: 70%;
    padding: 4%;
    box-shadow: 1px 1px 2px black;
}

/* Collectible Big Header */
.coll_header {
    color: #E84B00;
}

/* Collection Small Header */
.coll_header_2 {
    float: left;
    font-size: 1.5em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* Header for List of Details */
#specs_head {
    font-size: 1.3em;
    text-decoration: underline;
}

/* Collectible Image*/
.coll_img img {
    background-size: contain;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    border: 1px solid dimgray;
}

/* List Keys bolded */
.coll_specs span {
    font-weight: bold;
}

/* collectible description area*/
.description {
    font-size: 1.3em;
    line-height: 200%;
}


/* BUTTONS for downloads and links*/
#coll_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    margin: 20px 30px;
    border-radius: 10px;
}

#collectible_btns {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin-top: 3%;
    border-radius: 25px;

}

#add_links {
    align-self: flex-end;
}

#weblinks {
    margin: 0;
    padding: 1px 20px 70px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

#weblinks li a {
    padding: 30px;
}


/*--------------------
   Collectible Edit
----------------------*/