/*
 Created on June 16th by Steve Hanlon.  CSS file for accounts app.
*/

/*--------------------
       FORM
----------------------*/

form {
    width: 100%;
    margin-bottom: 100px
}


/*--------------------
    Log in page
----------------------*/

#login_form {
    width: 15%;
    /*height: 65vh;*/
    margin: 30px auto;
}

/* Alter Bootstrap Styling for Django messages  */
.messages {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3em;
}

.alert-error {
    color: #fff;
    background-color: #E84B00;
    border-color: #E84B00;
}


/*--------------------
    Registration page
----------------------*/

#reg_form {
    width: 100%;
}


#reg_form label {
    font-size: 1.3em;
}


/*--------------------
   Log In page
----------------------*/

.sign_up {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid black;
}
