/*
 Created on June 16th by Steve Hanlon.  CSS file for accounts app.
*/


/*--------------------------------
  Accounts Forms - General Layout
----------------------------------*/

.acc_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.acc_form_heading {
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    padding: 10px 15px;
}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------
    Registration page
----------------------*/

.reg_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*#reg_form label {*/
    /*font-size: 1.3em;*/
/*}*/



/*--------------------
    Log in page
----------------------*/

.login_form {
    margin: 30px auto;
}


/*--------------------
    Django Messages
----------------------*/

/* Alter Bootstrap Styling for Django messages  */
.messages {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3em;
}

.alert-error {
    color: #fff;
    background-color: #E84B00;
    border-color: #E84B00;
}




/*------------------------
   No Account - Sign Up!
-------------------------*/

.sign_up {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid black;
}

#sign_up_now {
    color: #31b0d5;
    transition: color .2s;
}

#sign_up_now:hover {
    color: #E84B00;
}